* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.bangladesh-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  background-color: #f5f5f5;
}

.nav {
  display: flex;
  padding: 24px 160px;
  justify-content: space-between;
  align-items: center;
  background: #f5f5f5;
}

#logo {
  color: #0e0e0e;
  font-family: "Fira Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#sign-in {
  display: flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 48px;
  border: 1px solid #006a50;
  border-radius: 8px;
  color: #006a50;
  font-family: "Fira Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  background-color: #f5f5f5;
}

.hero {
  display: flex;
  width: 1280px;
  padding: 80px 100px;
  justify-content: center;
  align-items: center;
  gap: 64px;
  border-radius: 24px;
  background: #c6e4d6;
}

#left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

#texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

#text1 {
  align-self: stretch;
  color: rgba(14, 14, 14, 0.5);
  font-family: "Fira Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#text2 {
  width: 622px;
  color: #0e0e0e;
  font-family: "Fira Sans";
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#button {
  display: flex;
  padding: 17px 34px;
  justify-content: center;
  align-items: center;
  gap: 48px;
  border-radius: 8px;
  background: #006a50;
  color: #fff;
  font-family: "Fira Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#right {
  width: 474.028px;
  height: 400px;
  flex-shrink: 0;
}

.rest {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  align-self: stretch;
}

.pillars {
  display: flex;
  width: 1280px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.section-header {
  align-self: stretch;
  color: #0e0e0e;
  font-family: "Fira Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.pillars-rest {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.pillar-container {
  display: flex;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}

.cards {
  display: flex;
  width: 302px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: #fff;
}

.cards img {
  width: 64px;
  height: 64px;
}

.card-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.card-text-container h3 {
  align-self: stretch;
  color: rgba(14, 14, 14, 0.8);
  font-family: "Fira Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card-text-container p {
  align-self: stretch;
  color: rgba(14, 14, 14, 0.7);
  font-family: "Fira Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.vision {
  display: flex;
  width: 1280px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.vision-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.section-text {
  align-self: stretch;
  color: rgba(14, 14, 14, 0.7);
  font-family: "Fira Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.vision-main {
  display: flex;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}

.vision-card1 {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
  border-radius: 16px;
  border: 0px solid #5490f5;
  background: rgba(84, 144, 245, 0.2);
}

.vision-card1 img {
  width: 64px;
  height: 64px;
}

.vision-cards-texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.vision-cards-texts h3 {
  align-self: stretch;
  color: rgba(14, 14, 14, 0.8);
  font-family: "Fira Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.vision-cards-texts p {
  align-self: stretch;
  color: rgba(14, 14, 14, 0.7);
  font-family: "Fira Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.vision-cards-buttons {
  display: flex;
  padding: 11px 20px;
  justify-content: center;
  align-items: center;
  gap: 48px;
  border-radius: 8px;
  background: #5490f5;
  color: #fff;
  font-family: "Fira Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.vision-card2 {
  display: flex;
  padding: 32px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 16px;
  border: 0px solid #09a15c;
  background: #c6e4d6;
}

.vision-card3 {
  display: flex;
  padding: 24px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 16px;
  border: 0px solid #ffc239;
  background: #f7ebcf;
}

.vision-footer {
  display: flex;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}

.vision-footer-container1 {
  display: flex;
  padding: 48px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: #fff;
}

.vision-footer-container2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  position: relative;
}

.vision-footer-container2 p {
  align-self: stretch;
  color: rgba(14, 14, 14, 0.8);
  font-family: "Fira Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.yunus {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.yunus h3 {
  align-self: stretch;
  color: rgba(14, 14, 14, 0.8);
  font-family: "Fira Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 120% */
}

.yunus p {
  align-self: stretch;
  color: rgba(14, 14, 14, 0.6);
  font-family: "Fira Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.vision-footer-container2 img {
  width: 64px;
  height: 64px;
  position: absolute;
  top: -23px;
}

.opinion {
  display: flex;
  width: 1280px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.questions {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  border-radius: 16px;
  background: #fff;
}

.questions .a {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.questions .b {
  display: flex;
  align-items: center;
  gap: 24px;
  flex: 1 0 0;
}

.questions .c {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: -1px;
  flex: 1 0 0;
}

.questions .d {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: #c6e4d6;
}
.questions .text {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.questions .text p {
  color: #0e0e0e;
  font-family: "Fira Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.questions .e {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: -1px;
  align-self: stretch;
}

.questions .container {
  display: flex;
  align-items: flex-start;
  gap: -1px;
  align-self: stretch;
}

.question-text {
  display: flex;
  height: 92px;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: rgba(255, 255, 255, 0.1);
}

.question-text .question {
  display: flex;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

.question-text .question p {
  color: #0e0e0e;
  font-family: "Fira Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.drop-down {
  display: flex;
  width: 200px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: rgba(255, 255, 255, 0.1);
}

.drop-down .option {
  display: flex;
  padding: 10px 14px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid #0e0e0e;
  background: #c6e4d6;
}

.drop-down .option p {
  color: #0e0e0e;
  font-family: "Fira Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.news {
  display: flex;
  width: 1280px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.news-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

.news-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.news-header-texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.sub {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.sub p {
  align-self: stretch;
  color: rgba(14, 14, 14, 0.7);
  font-family: "Fira Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.news-cards {
  display: flex;
  padding: 48px;
  align-items: center;
  gap: 32px;
  align-self: stretch;
  border-radius: 24px;
  background: #fff;
}

.satelite {
  width: 408px;
  height: 306px;
  border-radius: 24px;
}

.news-cards-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
}

.news-card-texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.news-card-texts h3 {
  align-self: stretch;
  color: rgba(14, 14, 14, 0.8);
  font-family: "Fira Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.alj-logo {
  width: 134px;
  height: 40px;
}

.read-more {
  display: flex;
  padding: 13px 26px;
  justify-content: center;
  align-items: center;
  gap: 48px;
  border-radius: 8px;
  background: #006a50;
  color: #fff;
  font-family: "Fira Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.time-date {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.time-date p {
  color: rgba(14, 14, 14, 0.7);
  font-family: "Fira Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.news-card-texts {
  align-self: stretch;
  color: rgba(14, 14, 14, 0.7);
  font-family: "Fira Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
